@model List<History>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">History</h2>
		</div>
	</div>
    <br>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                   ArxiveId
                </th>
                <th>
                    CreatedAt
                </th>                               
                <th>
                    UpdatedAt
                </th>
                <th>
                    RemovedAt
                </th>
                
                <th>
                    ProductPrice
                </th>
                <th>
                    ProductQuontity
                </th>
                <th>
                    ProductTitle
                </th>
                @* <th>
                    ProductId
                </th>
                 *@
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td width="10%">
                        @obj.Id
                    </td>
                    <td width="10%">
                        @obj.CreatedAt
                    </td>
                    <td width="10%">
                        @obj.UpdatedAt
                    </td>
                    <td width="10%">
                        @obj.RemovedAt
                    </td>
                    <td width="10%">
                        @obj.ProductPrice
                    </td>
                    <td width="10%">
                        @obj.ProductQuontity
                    </td>
                    <td width="10%">
                        @obj.ProductTitle
                    </td>
                    @* <td width="10%">
                        @obj.Id
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>